/* Yleinen */

#hideAll {
  position: fixed;
  left: 0px; 
  right: 0px; 
  top: 0px; 
  bottom: 0px; 
  background-color: white;
  z-index: 99; /* Higher than anything else in the document */

}

body {
  background: #fff;
  color: #666666;
  font-family: 'Ubuntu', sans-serif;
  position: relative;
  height: 100%;
}

a {
  color: #2D5387;
}

a:hover, a:active, a:focus {
  color: #ccc;
  outline: none;
  text-decoration: none;
}

p {
  padding: 0;
  margin: 0 0 30px 0;
}

/* Takaisin ylös nappi */
.back-to-top {
  position: fixed;
  display: none;
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  padding: 6px 12px 9px 12px;
  font-size: 16px;
  border-radius: 2px;
  right: 15px;
  bottom: 15px;
  transition: background 0.5s;
}

@media (max-width: 768px) {
  .back-to-top {
    bottom: 15px;
    background: rgba(0, 0, 0, 0.5);
  }
}

.back-to-top:focus {
  background: rgba(0, 0, 0, 0.2);
  color: #fff;
  outline: none;
}

.back-to-top:hover {
  background: #2D5387;
  color: #fff;
}


/* Header */
#header {
  padding: 30px 0;
  height: 92px;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  transition: all 0.5s;
  z-index: 997;
  background-color: #F4F4F4;
}

#header #logo {
  float: left;
}

#header #logo img {
  padding: 0;
  margin: 0;
  width: 150px;
  top: 50%;
  -ms-transform: translateY(-37%);
  transform: translateY(-37%);
  -webkit-transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
}

@media (max-width: 1000px) {
  #header #logo h1 {
    font-size: 26px;
  }
  #header #logo img {
    max-width: 150px;
    -ms-transform: translateY(-25%);
    transform: translateY(-25%);
  }
  #header {
    height: 110px;
  }
  #header.header-fixed #logo img {
  -webkit-transform: scale(0.8) translateY(-48%) !important;
  transform: scale(0.8) translateY(-48%) !important;
  }
}

#header.header-fixed {
  background: #F4F4F4;
  padding: 20px 0;
  height: 72px;
  transition: all 0.5s;
}

#header.header-fixed #logo img {
  -webkit-transform: scale(0.75) translateY(-50%);
  transform: scale(0.75) translateY(-50%);
}

/* Navigaatio */

.nav-menu, .nav-menu * {
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav-menu ul {
  position: absolute;
  display: none;
  top: 100%;
  left: 0;
  z-index: 99;
}

.nav-menu li {
  position: relative;
  white-space: nowrap;
}

.nav-menu > li {
  float: left;
}

.nav-menu li:hover > ul,
.nav-menu li.sfHover > ul {
  display: block;
}

.nav-menu ul ul {
  top: 0;
  left: 100%;
}

.nav-menu ul li {
  min-width: 180px;
}

/* Nav Meu Container */
#nav-menu-container {
  float: right;
  margin: 0;
}

@media (max-width: 1000px) {
  #nav-menu-container {
    display: none;
  }
}

/* Nav Meu Styling */
.nav-menu a {
  padding: 0 8px 10px 8px;
  text-decoration: none;
  display: inline-block;
  color: black;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  font-size: 13px;
  outline: none;
  font-weight: bold;
}

.nav-menu a:hover {
  color: black;
  text-decoration: none;
  font-weight: bold;
}

.nav-menu > li {
  margin-left: 10px;
}

.nav-menu > li > a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #2D5387;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.nav-menu a:hover:before, .nav-menu li:hover > a:before, .nav-menu .menu-active > a:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}


/* Mobile Nav Toggle */
#mobile-nav-toggle {
  position: fixed;
  right: 0;
  top: 0;
  z-index: 999;
  margin: 20px 20px 0 0;
  border: 0;
  background: none;
  font-size: 24px;
  display: none;
  transition: all 0.4s;
  outline: none;
  cursor: pointer;
}

#mobile-nav-toggle i {
  color: #000;
  -ms-transform: translateY(-15%);
  transform: translateY(-15%);
}

@media (max-width: 1000px) {
  #mobile-nav-toggle {
    display: inline;
  }
}

/* Mobile Nav Styling */
#mobile-nav {
  position: fixed;
  top: 0;
  padding-top: 18px;
  bottom: 0;
  z-index: 998;
  background: rgb(244, 244, 244);
  left: -260px;
  width: 260px;
  overflow-y: auto;
  transition: 0.4s;
}

#mobile-nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

#mobile-nav ul li {
  position: relative;
}

#mobile-nav ul li a {
  color: #000;
  font-size: 16px;
  overflow: hidden;
  padding: 10px 22px 10px 15px;
  position: relative;
  text-decoration: none;
  width: 100%;
  display: block;
  outline: none;
}

#mobile-nav ul li a:hover {
  color: #2d5387;
}

#mobile-nav ul li li {
  padding-left: 30px;
}

#mobile-nav ul .menu-has-children i {
  position: absolute;
  right: 0;
  z-index: 99;
  padding: 15px;
  cursor: pointer;
  color: #fff;
}

#mobile-nav ul .menu-has-children i.fa-chevron-up {
  color: #2D5387;
}

#mobile-nav ul .menu-item-active {
  color: #2D5387;
}

#mobile-body-overly {
  width: 100%;
  height: 100%;
  z-index: 997;
  top: 0;
  left: 0;
  position: fixed;
  background: rgba(0, 0, 0, 0.7);
  display: none;
}

/* Mobile Nav body classes */
body.mobile-nav-active {
  overflow: hidden;
}

body.mobile-nav-active #mobile-nav {
  left: 0;
}

body.mobile-nav-active #mobile-nav-toggle {
  color: #fff;
}

/* Slidereiden css alkaa */
.carousel-item {
  min-height: 750px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
/* Slidereiden css loppuu */

/* Aloitus osa alkaa */

 /* puhelimelle */
@media only screen and (max-width: 450px) {
  section.start-section {
    min-height: 800px;
    background-image: url("../img/section-start.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    }

    div.start-section { /* Taustan kuvalle sinertävä väri jotta teksti näkyy*/
    background: rgba(29, 186, 234, 0.185);
    min-height: 800px;
    }

    div.start-text {
    margin-top: 375px;
    font-family: 'Roboto', sans-serif;
    }


    span.start {
    font-size: 1.3em;
    font-weight: 750;
    color: #ea5e1d;
    }
}

 /* tableteille */
@media only screen and (min-width: 450px) {
  section.start-section {
    min-height: 800px;
    background-image: url("../img/section-start.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    }

    div.start-section { /* Taustan kuvalle sinertävä väri jotta teksti näkyy*/
    background: rgba(29, 186, 234, 0.185);
    min-height: 800px;
    }

    div.start-text {
    margin-top: 375px;
    font-family: 'Roboto', sans-serif;
    }


    span.start {
    font-size: 2em;
    font-weight: 750;
    color: #ea5e1d;
    }
}

 /* tietokoneille */
@media only screen and (min-width: 900px) {
  section.start-section {
    min-height: 800px;
    background-image: url("../img/section-start.jpg");
    background-repeat: no-repeat;
    background-attachment: center;
    background-size: cover;
    background-attachment: fixed;
    }

    div.start-section { /* Taustan kuvalle sinertävä väri jotta teksti näkyy*/
    background: rgba(29, 186, 234, 0.185);
    min-height: 800px;
    }

    div.start-text {
    margin-top: 375px;
    font-family: 'Roboto', sans-serif;
    }


    span.start {
    font-size: 2em;
    font-weight: 750;
    color: #ea5e1d;
    }
}

/* leveille näytöille */
@media only screen and (min-width: 1440px) {
  section.start-section {
    min-height: 800px;
    background-image: url("../img/section-start.jpg");
    background-repeat: no-repeat;
    background-attachment: center;
    background-size: cover;
    background-attachment: fixed;
    }

    div.start-section { /* Taustan kuvalle sinertävä väri jotta teksti näkyy*/
    background: rgba(29, 186, 234, 0.185);
    min-height: 800px;
    }

    div.start-text {
    margin-top: 375px;
    font-family: 'Roboto', sans-serif;
    }

    span.start {
    font-size: 2.25em;
    font-weight: 900;
    color: #ea5e1d;
    }
  }

/* Aloitus osa loppuu ja palvelut alkaa */

 /* puhelimelle */
@media only screen and (max-width: 450px) {
  section.services-section {
    min-height: 750px;
    background: #ea5e1d;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    color: black;
  }
  div.service-text {
    margin-top:45px;
    font-size: 1.25em;
    margin-left: 7.5%;
    margin-right: 7.5%;
  }
  h1.service-heading {
    margin-top: 15px;
    font-size: 2.25em;
  }
}

 /* tableteille */
@media only screen and (min-width: 450px) {
  section.services-section {
    min-height: 750px;
    background: #ea5e1d;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    color: black;
  }
  div.service-text {
    margin-top:50px;
    font-size: 1.5em;
    margin-left: 7.5%;
    margin-right: 7.5%;
  }
  h1.service-heading {
    margin-top: 20px;
    font-size: 3.5em;
  }
}

 /* tietokoneille */
@media only screen and (min-width: 900px) {
  section.services-section {
    min-height: 750px;
    background: #ea5e1d;
    background-repeat: no-repeat;
    background-attachment: center;
    background-size: cover;
    background-attachment: fixed;
    color: black;
  }
  div.service-text {
    margin-top:60px;
    font-size: 2em;
    margin-left: 10%;
    margin-right: 10%;
  }
  h1.service-heading {
    margin-top: 35px;
    font-size: 4.5em;
  }
}

/* leveille näytöille */
@media only screen and (min-width: 1350px) {
  section.services-section {
    min-height: 750px;
    background: #ea5e1d;
    background-repeat: no-repeat;
    background-attachment: center;
    background-size: cover;
    background-attachment: fixed;
    color: black;
  }
  div.service-text {
    margin-top:65px;
    font-size: 2em;
    margin-left: 10%;
    margin-right: 10%;
  }
}

/* Palvelut loppuu ja referenssit alkaa */

 /* puhelimelle */
@media only screen and (max-width: 450px) {
  section.references-section {
    min-height: 750px;
    background: #ea5e1d;
    color: black;
  }
  img.reference-img-0 {
    display: none;
  }
  img.reference-img-1 {
    display: none;
  }
  img.reference-img-2 {
    display: none;
  }
  ul.reference-ul {
    margin-left: 15px;
    margin-top: 25px;
    font-size: 1.2em;
  }
  h1.reference-heading {
    font-size: 3em;
    margin-top: 25px;
  }
}

 /* puhelimelle */
@media only screen and (min-width: 450px) {
  section.references-section {
    min-height: 750px;
    background: #ea5e1d;
    color: black;
  }
  img.reference-img-0 {
    display: none;
  }
  img.reference-img-1 {
    display: none;
  }
  img.reference-img-2 {
    display: none;
  }
  ul.reference-ul {
    margin-top: 25px;
    font-size: 1.25em;
    margin-left: 10%;
  }
  h1.reference-heading {
    font-size: 3.5em;
    margin-top: 25px;
  }
  img.reference-img {
    border-style: solid;
    float: right;
    margin-right: 15px;
    width: 100px;
    height: 80px;
    display: none;
  }
}

 /* tableteille */
@media only screen and (min-width: 770px) {
  section.references-section {
    min-height: 750px;
    background: #ea5e1d;
    color: black;
  }
  img.reference-img-0 {
    border-radius: 10px;
    border: 5px solid #000;
    width: 235px;
    margin-top: 35px;
    margin-left: 35px;
    display: block;
  }
  img.reference-img-1 {
    border-radius: 10px;
    border: 5px solid #000;
    width: 235px;
    margin-top: 35px;
    margin-left: 35px;
    display: block;
  }
  img.reference-img-2 {
    border-radius: 10px;
    border: 5px solid #000;
    width: 235px;
    margin-top: 35px;
    margin-left: 35px;
    display: block;
  }
  ul.reference-ul {
    margin-left: 15px;
    margin-top: 25px;
    font-size: 1.25em;
  }
  h1.reference-heading {
    font-size: 3.5em;
    margin-top: 30px;
  }
}

 /* tietokoneille */
@media only screen and (min-width: 1490px) {
  section.references-section {
    min-height: 750px;
    background: #ea5e1d;
    color: black;
  }
  img.reference-img-0 {
    border-radius: 10px;
    border: 5px solid #000;
    width: 250px;
    margin-top: 75px;
    display: inline-block;
  }
  img.reference-img-1 {
    border-radius: 10px;
    border: 5px solid #000;
    width: 250px;
    margin-left: 50px;
    margin-top: 75px;
    display: inline-block;
  }
  img.reference-img-2 {
    border-radius: 10px;
    border: 5px solid #000;
    width: 250px;
    margin-left: 185px;
    margin-top: 35px;
    display: inline-block;
  }
  ul.reference-ul {
    margin-top: 25px;
    font-size: 1.4em;
  }
  h1.reference-heading {
    font-size: 4.5em;
    margin-top: 30px;
  }
}

/* leveille näytöille */
@media only screen and (min-width: 1990px) {
  section.references-section {
    min-height: 750px;
    background: #ea5e1d;
    color: black;
  }
  img.reference-img-0 {
    border-radius: 10px;
    border: 5px solid #000;
    width: 325px;
    margin-top: 75px;
  }
  img.reference-img-1 {
    border-radius: 10px;
    border: 5px solid #000;
    width: 325px;
    margin-left: 115px;
    margin-top: 75px;
  }
  img.reference-img-2 {
    border-radius: 10px;
    border: 5px solid #000;
    width: 325px;
    margin-left: 245px;
    margin-top: 75px;
  }
  ul.reference-ul {
    margin-top: 25px;
    font-size: 1.65em;
  }
}

/* Referenssit loppuu ja meistä alkaa */

 /* puhelimelle */
@media only screen and (max-width: 450px) {
  section.about-section {
    min-height: 750px;
    background-image: url("../img/section-about.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    padding-top: 75px;
    padding-left: 7.5%;
    padding-right: 7.5%;
    padding-bottom: 75px;
  }

  div.about-section { /* Taustan kuvalle musta väri jotta teksti näkyy*/
    background: rgba(0, 0, 0, 0.7);
    min-height: 600px;
    padding: 17.5px;
  }

  div.about-text {
    color: #f4f4f4;
    font-size: 1em;
    font-weight: 600;
  }
}

 /* tableteille */
@media only screen and (min-width: 450px) {
  section.about-section {
    min-height: 750px;
    background-image: url("../img/section-about.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    padding-top: 100px;
    padding-left: 7.5%;
    padding-right: 7.5%;
    padding-bottom: 100px;
  }

  div.about-section { /* Taustan kuvalle musta väri jotta teksti näkyy*/
    background: rgba(0, 0, 0, 0.7);
    min-height: 550px;
    padding: 20px;
  }

  div.about-text {
    color: #f4f4f4;
    font-size: 1.25em;
    font-weight: 600;
  }
}

 /* tietokoneille */
@media only screen and (min-width: 900px) {
  section.about-section {
    min-height: 750px;
    background-image: url("../img/section-about.jpg");
    background-repeat: no-repeat;
    background-attachment: center;
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    padding-top: 150px;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 150px;
  }

  div.about-section { /* Taustan kuvalle musta väri jotta teksti näkyy*/
    background: rgba(0, 0, 0, 0.7);
    min-height: 450px;
    padding: 25px;
  }

  div.about-text {
    color: #f4f4f4;
    font-size: 1.6em;
    font-weight: 600;
  }
}

/* leveille näytöille */
@media only screen and (min-width: 1350px) {
  section.about-section {
    min-height: 750px;
    background-image: url("../img/section-about.jpg");
    background-repeat: no-repeat;
    background-attachment: center;
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    padding-top: 150px;

    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 150px;
  }

  div.about-section { /* Taustan kuvalle musta väri jotta teksti näkyy*/
    background: rgba(0, 0, 0, 0.7);
    min-height: 450px;
    padding: 25px;
  }

  div.about-text {
    color: #f4f4f4;
    font-size: 1.75em;
    font-weight: 600;
  }
}

/* Meistä loppuu ja yhteystiedot alkaa #2d5387 */

 /* puhelimelle */
@media only screen and (max-width: 450px) {
  section.contact-section {
    min-height: 450px;
    background: #2d5387;
    text-align: center;
    color: #f4f4f4;
    font-size: 1em;
    padding: 50px;
  }
  
}

 /* tableteille */
@media only screen and (min-width: 450px) {
  section.contact-section {
    min-height: 200px;
    background-image: url("../img/contac.jpg");
    text-align: center;
    color: #f4f4f4;
    font-size: 0.8em;
    padding: 30px;
  }
  
}

 /* tietokoneille */
@media only screen and (min-width: 900px) {
  section.contact-section {
    min-height: 200px;
    background-image: url("../img/contac.jpg");
    color: #f4f4f4;
    font-size: 1.15em;
    padding: 50px;
  }
  
}

/* leveille näytöille */
@media only screen and (min-width: 1350px) {
  section.contact-section {
    min-height: 200px;
    background-image: url("../img/contact.jpg");
    color: #f4f4f4;
    font-size: 1.15em;
    padding: 50px;
  }
  
}

/* Yhteystiedot loppuu ja footer alkaa */

section.footer-section {
    min-height: 50px;
    background-color: #F4F4F4;
}

div.copyright {
  line-height: 4;
  font-size: 0.8rem;
  color: black;
}

/* Footer loppuu */
