body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #1a1a1c;
}

h2 {
    text-align: center;
    font-weight: bold;
}

.content {
    background-color: whitesmoke;
    padding: 20px 0;
    width: 600px;
    margin: 40px auto;
    text-align: center;
    color: black;
    border-radius: 10px;
    border: 3px solid black;
}

input[type=text] {
    font-size: 16px;
    color: black;
    border-radius: 5px;
    outline: none;
    width: 200px;
    transition: 0.5s;
}

input[type=text]:focus {
    border: 2px solid #1DBAEA;
    width: 400px;
    transition: 0.5s;
}

input[type=password] {
    font-size: 16px;
    width: 200px;
    color: black;
    border-radius: 5px;
    outline: none;
}

input[type=password]:focus {
    border: 2px solid #1DBAEA;
}

input[type=submit] {
    font-size: 16px;
    color: black;
    border-radius: 5px;
    border: 2px solid black;
    background-color: orange;
    font-weight: bold;
    outline: none;
}

input[type=submit]:active {
    background-color: white;
}

textarea {
    resize: none;
    width: 200px;
    height: 30px;
    font-size: 16px;
    color: black;
    border-radius: 5px;
    outline: none;
    border-width: 2px;
    transition: 0.5s;
}

textarea:focus {
    border: 2px solid #1DBAEA;
    width: 500px;
    height: 150px;
    transition: 0.5s;
}

select {
    font-size: 16px;
    border-radius: 5px;
    outline: none;
    width: auto;
    border-width: 2px;
}

select:focus {
    border: 2px solid #1DBAEA;
}

ul {
    text-align: center;
    padding-left: 0px;
}

li {
    list-style-type: none;
    padding: 10px 0;
    margin: 0 auto;
}

a {
    padding: 0 10px;
}

.list-container {
    text-align: center !important;
}