#sortable1, #sortable2, #sortable3, #sortable4, #sortable5, #sortable6, #sortable7, #sortable8, #sortable9 {
    list-style-type: none;
    margin: 0 auto;
    padding: 0;
    width: 385px;
    margin-left: 0px;
}

#sortable1 li, #sortable2 li, #sortable3 li, #sortable4 li, #sortable5 li, #sortable6 li, #sortable7 li, #sortable8 li, #sortable9 li {
    margin: 10px 0; 
    padding: 10px 0;  
    font-size: 20px; 
    min-height: 45px;
    text-align: center;
}

#sortable1 li span, #sortable2 li span, #sortable3 li span, #sortable4 li span, #sortable5 li span, #sortable6 li span, #sortable7 li span, #sortable8 li span, #sortable9 li span {
    position: absolute; 
    margin-left: -1.3em;
}

.ui-state-default {
    border: 1px solid #c5c5c5;
    font-weight: normal;
    color:black;
    
}

